body {
  background-color: #232b3a;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 100%;
}

/* Opinionated resets */

*, *:after, *:before {
  box-sizing: border-box;
}

/* Responsive images */
img {
  max-width: 100%;
  display: block;
}
